<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
    <h3><i class="glyphicon glyphicon-dashboard"></i> New Situation</h3>
    <hr>
    <%= render 'form' %>
    <%= link_to 'Back', situations_path, :type => 'button', :class => 'btn btn-primary' %>
    <hr>

  </div>
</div>

