<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Organization: <%= @user.organization.name + "-" + @user.organization.country if @user.organization.name %></p>
