<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
     <h3><i class="glyphicon glyphicon-dashboard"></i> Create Event</h3>
     <hr>
  </div>


  <div class="row">
      <div class="col-md-7">
        <%= render 'form' %>
      </div>
      <hr>
      <%= link_to 'Back', situation_path(@situation), :type => 'button', :class => 'btn btn-primary' %> 
  </div>
   
</div>
