# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  admin_name: First User
  admin_email: admin@example.com
  admin_password: change
  # email_provider_username: <%= ENV["MANDRILL_USERNAME"] %>
  # email_provider_apikey: <%= ENV["MANDRILL_APIKEY"] %>
  email_provider_username: diogo.monica+spam@gmail.com
  email_provider_apikey: muf0ZFCDhO3oZAa-xv0sjA
  domain_name: example.com
  secret_key_base: 61be7923310874457f75ed4331f347fd804110d1067d43e08c3a8c7b95862fe5b3d9447173e65eda2cee586dbfe0e3e4d0e44bf2af93588de501c9fde45a661d

test:
  domain_name: example.com
  secret_key_base: dfe4a267739153ba41627c59712638a123066c6733b3bbb2ddbb1769f39ddd8f1e23831ffa9213c44ec481adaa14681764e0a380cf2f071b466bd6f38a60d6d9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  email_provider_username: <%= ENV["MANDRILL_USERNAME"] %>
  email_provider_apikey: <%= ENV["MANDRILL_APIKEY"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
