    <%= form_tag tags_update_path do %>
      <label for="body">Tag</label>
      <%= text_field_tag 'body', "#{@tag.body}", :maxlength => 15, :size => 25 %>
      <%= submit_tag "Save" %> 
    <% end %>


