<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
     <h3><i class="glyphicon glyphicon-dashboard"></i> Edit Organization</h3>
     <hr>
  </div>

  <div class="row">
    <div class="col-md-7">
      <%= render 'form' %>
    </div>
    <hr>

    <%= link_to 'Back', organizations_path, :type => 'button', :class => 'btn btn-primary' %>
    <%= link_to 'Show', @organization, :type => 'button', :class => 'btn btn-primary' %>

  </div>

</div>

